# **Tipos de datos**

## _Enteros_

Son un tipo de datos que permite representar numeros enteros, es decir, positivos y negativos no decimales.

In [1]:
num = 12
print(num)

12

En Python, a partir de la version 3, se pueden representar numeros enteros tanto grande como peque√±os ya que por debajo asigna la memoria necesaria al numero que se va a representar

In [4]:
num = 220**250
print(num)
print(type(num))

4033389891707477734755328496062321624851855650186108167392316136344481819489232020749348134554663342567180262809078227006009080452734341032435816682463046374674512069371143084398679007692048444514734762881055933460281291788414235897996008959477402413975715284488587071738776443846331000684563996124540080201710310366837802424963684106240000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
<class 'int'>

Tambien es posible asignar valores en binario, hexadecimal y octal. 

- Prefijo 0b para representar un numero binario.
- Prefijo 0x para representar un numero hexadecimal.
- Prefijo 0o pra representar un numero octal

Al imprimir tales numeros, se convierten en enteros para todos los casos

In [7]:
num_b = 0b101
num_h = 0x17
num_c = 0o720

In [8]:
print(num_b, type(num_b))
print(num_h, type(num_h))
print(num_c, type(num_c))

5 <class 'int'>
23 <class 'int'>
464 <class 'int'>

Python asigna diferentes numeros de bits a las variables en funcion del numero que quieren representar. Vamos a utilizar la funcion _getsizeof()_ para mostrar el tamano de una variable en memoria

In [9]:
# libreria para usar la funcion
import sys

# definimos dos numeros
num1 = 5**10000
num2 = 10

In [10]:
# mostramos el tamano en memoria de cada numero
print(sys.getsizeof(num1), type(num1))
print(sys.getsizeof(num2), type(num2))

3120 <class 'int'>
28 <class 'int'>

Hay casos limites donde el numero a representar es tan grande que genera una excepcion.

In [11]:
print(5e200**2)

OverflowError: (34, 'Numerical result out of range')

Un caso inusual es que si intentamos representar un numero mayor que el anterior nos devuelve lo siguiente en vez de una excepcion.

In [12]:
print(2e2000**2)

inf

__Convertir a int__

Permite convertir otro tipo a entero. Como int no puede contener decimales, al intentar convertir un numero decimal se truncara todo lo que este a la derecha de la coma.

In [13]:
num = int(2.67)
print(num, type(num))

2 <class 'int'>

## _Float_

Permite representar un numero positivo o negativo con decimales (numeros reales). Al declarar un variable y asignarle un valor decimal, por defecto la variable sera de tipo float

In [14]:
num = 0.0032
print(num, type(num))

0.0032 <class 'float'>

__Conversion a float__

Tambien se pueden declarar usando la notacion cientifica con 'e' y el exponente. Vamos a representar a 1.93 por diez elevado a la -3.

In [15]:
num = 1.93e-3
print(num, type(num))

0.00193 <class 'float'>

Podemos convertir otro tipo a float mediante la funcion _float()_.

In [16]:
a = float(True)
b = float(2)

print(a, type(a))
print(b, type(b))

1.0 <class 'float'>
2.0 <class 'float'>

En este caso, _True_ es en realidad tratado como 1.0 al convertirlo a float.

__Rango Representable__

Los float no tienen precision infinita. Veamos el siguiente ejemplo

In [19]:
num = 0.9999999999999999999
print(num, type(num))
print(1 == num)

1.0 <class 'float'>
True

Los float tienen unos valores minimo y maximos que pueden representar:

- Precision minima 2.2250738585072014e-308.
- Precision maxima 1.7976931348623157e+308.

Verifiquemoslo!

In [20]:
import sys

print(sys.float_info.min)
print(sys.float_info.max)

2.2250738585072014e-308
1.7976931348623157e+308

Si asignamos un valor mayor que el _max_, la variable toma el valor _inf_ que representa infinito.

In [21]:
num = 1.7976931348623157e+309
print(num)

inf

__Precision del float__

Los computadores no pueden representar cualquier numero y mucho menos si este es un irracional.

Al dividir _1/3_ deberia resultar en 0.3 periodico, pero para Python es imposible representar tal numero

In [25]:
print('{:10f}'.format(1.0/3.0))

  0.333333

La siguiente operacion deberia ser cero, pero esto no es asi

In [26]:
print(0.1 + 0.1 + 0.1 - 0.3)

5.551115123125783e-17


<li><b>L√≥gicos o booleanos:</b> S√≥lo pueden tener dos valores <b><i>True</i></b> (verdadero) o <b><i>False</i></b> (falso) ya que representan el resultado de una comparaci√≥n entre otros datos.</li>

<li><b>Alfanum√©ricos (string):</b> Es una secuencia de caracteres alfanum√©ricos que permiten representar valores identificables de forma descriptiva. Se subdividen en dos:
    <ul>
        <li><b>Caracter:</b> Es cuando se almacena uno y s√≥lo uno (elemento) del conjunto de caracteres (letras, n√∫meros y signos especiales). Las comillas no forman parte del car√°cter, hacen parte de la representaci√≥n. Ejemplo: ‚Äú#‚Äù, ‚Äú‚Äù , ‚ÄúH‚Äù , ‚Äú7‚Äù.</li>
        <li><b>Cadena:</b> Es el conjunto de las cadenas de caracteres que se pueden formar a partir de los elementos del conjunto de caracteres (letras, n√∫meros y signos especiales) que el procesador reconoce.</li>
    </ul>
    </li>
</ul>
<br>
Python, es un lenguaje de <b><i>tipado din√°mico</i></b>. Hay dos formas de tipado:
<ol>
    <li>Est√°tico</li>
    <li>Din√°mico</li>
</ol>
En los lenguajes est√°ticos, cuando se declara una variable es necesario especificar el tipo (Num√©rica, L√≥gica o Alfanum√©rica) y ese tipo es inalterable. En cambio en lenguajes como Python no es necesario establecer un tipo y adem√°s puede cambiar en cualquier momento.<br>
En conclusi√≥n, <b>las variables en Python</b> adoptan su tipo seg√∫n el dato que se le asigna.


# __Variables en Python__

Una variable es la que permite almacenar un valor al asignarlo a un nombre el cual puede ser utilizado para referirse al valor m√°s adelante en el programa. Para asignar una variable, se utiliza el signo igual ( = ).<br>
Las variables pueden ser reasignadas tantas veces como se quiera para cambiar su valor (Tipado din√°mico).

In [1]:
# Tipo de dato num√©rico, ENTERO o INTEGER - int
a = 123
a

123

In [2]:
# Tipo de dato num√©rico, DECIMAL o FLOTANTE - float
# el separador decimal o punto flotante en Python es el punto (.)
b = 456.789
b

456.789

In [3]:
# Tipo de dato CADENA o STRING - str
c = 'Hola mundo'
c

'Hola mundo'

In [4]:
# Tipo de dato L√ìGICO O BOOLEAN - bool
d = True # verdadero
d

True

In [5]:
dd = False # falso
dd

False

Se declaran, luego se definen

In [29]:
# declarar   definir
nombre = 'Pedro Pedrito'
print(nombre)

Pedro Pedrito

Son modificables...

In [31]:
nombre = 'Jose'
nombre = 'Betania'
nombre = 'Guillermo'
print(nombre)

Guillermo

Son operables ...

In [33]:
num = 10
num += 5
print(num)

15

Se concatenan ...

In [34]:
nombre = 'Miguel'
bienvenida = 'Hola '+ nombre + '. Bienvenido!'
print(bienvenida)

Hola Miguel. Bienvenido!

Concatenacion f-string: Convierte cualquier dato a tipo texto

In [35]:
nombre = 'Gaby'
bienvenida = f'Hola {nombre}. Bienvenida!'
print(bienvenida)

Hola Gaby. Bienvenida!

Borrar contenido de la variable

In [36]:
nombre = 'Jesus'
del nombre
print(nombre)

NameError: name 'nombre' is not defined

**Operador de pertenencia**: Busca una variable dentro de otra y devuelve un booleano

In [39]:
nombre = 'Gaby'
bienvenida = f'Hola {nombre}. Bienvenida!'
print(bienvenida)

# buscar secuencia 'ola' en la variable bienvenida
print('ola' in bienvenida)

# buscar Gaby en la variable 'bienvenida'
print('Gaby' in bienvenida)

Hola Gaby. Bienvenida!
True
True

**Desempaquetado**: Consiste en asignarle valores contenidos en un array a varias variables. Funciona solo cuando la cantidad de valores es igual a la cantidad de variables

In [40]:
# declaramos un tipo de dato conocido como tupla
datos = ('cilantro', 'cebolla')
verdura_1, verdura_2 = datos
print(verdura_1)
print(verdura_2)

cilantro
cebolla

# __Nombres de variables__

1. Solo se pueden usar letras, n√∫mero y el s√≠mbolo gui√≥n bajo o raya al piso (underscore)
2. Nunca el primer caracter de la variable puede ser un n√∫mero.

In [6]:
nombre_de_variable_valido = 'Variable v√°lida'
nombre_de_variable_valido

'Variable v√°lida'

In [7]:
variables con espacios = 'Variable string'

SyntaxError: invalid syntax (1375255212.py, line 1)

In [8]:
123Variable_con_numeros = 'Pythonistas'

SyntaxError: invalid syntax (4075443392.py, line 1)

In [9]:
# VARIABLES V√ÅLIDAS
variable_ = 3.141592

VARIABLE = 'MAY√öSCULAS'

_variables = 'Underscore'

_prueba_ = True

Var123 = 'Variables con n√∫meros, may√∫sculas y min√∫sculas.'

<h3>IMPORANTE !!!</h3> Las variables adoptan la naturaleza del tipo de datos que se almacena en ellas.

<h3>Estilos de variables</h3>
Informaci√≥n tomada de PEP8 de Python <a href="https://www.python.org/dev/peps/pep-0008/#naming-conventions" target="_blank">Link</a>

* $b$ (una sola letra minuscula)

* $B$ (una sola letra mayuscula)

* $lowercase$ (Todas minusculas)

* $lower\_case\_with\_underscores$ (Todas minusculas separadas por piso o snakecase)

* $UPPERCASE$ (Todas mayusculas)

* $UPPER\_CASE\_WITH\_UNDERSCORES$ (Todas mayusculas separadas por piso)

* $CapitalizedWords$ (tambien llamadas CapWords o CamelCase. Letra inicial de la palabra en mayuscula, las demas en minuscula).

* Note: Cuando utilice acronimos en CamelCase, escriba todas las letras del acronimo en mayuscula (HTTPServer)

* $mixedCase$ (se diferencia de CamelCase en que la letra de la primera palabra es minuscula)

* $Capitalized\_Words\_With\_Underscores$ (Estilo poco estetico)

In [10]:
# lowercase
variable = 'Hola mundo'
# uppercase
VARIABLE = 'Constante'
# lowercase with underscores
variable_minusculas_con_guion_bajo = 123
# uppercase with underscores
VARIABLES_MAYUSCULAS_CON_GUION_BAJO = 456
# CamelCase
VariableName = 'CapWords o CamelCase'
# mixedCase
nombreVariable = 'mixedCase style'


# __Conversi√≥n de tipos__
Ya vimos que existen diferentes tipos datos y con cada uno de ellos se pueden hacer operaciones espec√≠ficas. Pero, ¬øQu√© pasa si tengo n√∫mero entre comillas y los necesito para hacer operaciones aritm√©ticas? ¬øC√≥mo se manejan estos casos? Para esto Python tiene implementado funciones para hacer estas conversiones.

### Para convertir a <i><u>entero</u></i> se utiliza la funci√≥n $int()$

In [11]:
int("2") + int("3")

5

In [12]:
2 - int("3")

-1

In [13]:
int(2.94)

2

Para poder hacer la conversi√≥n con la funci√≥n $int()$ se debe garantizar que los carateres que est√°n dentro de las comillas tengan su equivalencia num√©rica, en caso contrario Python arrojar√° error en esta instrucci√≥n del algoritmo.

In [14]:
int('Python') + 4

ValueError: invalid literal for int() with base 10: 'Python'

In [15]:
a = '5'
int(a) + 4

9

<b>Nota:</b> El separador decimal de Python es el punto (<b>.</b>), si se usa la coma (<b>,</b>) dentro de la funci√≥n $int()$ Python mostrar√° error.

In [16]:
7 * int("6.43")

ValueError: invalid literal for int() with base 10: '6.43'

In [17]:
6,43

(6, 43)

### * Para convertir a <i><u>flotante</u></i> se utiliza la funci√≥n $float()$

In [18]:
float(15)

15.0

In [19]:
float("2.5")

2.5

Igual que con el uso de la funci√≥n $int()$, si con la funci√≥n $float()$ se intenta convertir caracteres que no tienen equivalencia num√©rica, Python arrojar√° error.

In [20]:
float("Python")

ValueError: could not convert string to float: 'Python'

### * Para convertir a <i><u>cadena o string</u></i> se utiliza la funci√≥n $str()$<br>
Para este caso de conversi√≥n, no hay restricciones, cualquier n√∫mero (entero o flotante) o carater especial tipo @ , - , $ , & , \% etc., puede ser convertido a cadena de texto.

In [21]:
"Python para principiantes - Versi√≥n #" + str(5)

'Python para principiantes - Versi√≥n #5'

In [22]:
"El promedio de las edades de los participantes es: " + str((23+34+21+56+19+29)/6)

'El promedio de las edades de los participantes es: 30.333333333333332'

<h4>¬°¬°¬° MUY IMPORTANTE !!!</h4>
Las funciones de conversi√≥n que implementa Python, convierten el valor o el contenido de la variable, pero NO la variable.

In [23]:
m = "23"
n = "45"
int(m) + int(n)

68

In [24]:
m + n

'2345'

### Conociendo el tipo de dato de la variable

Puedo conocer la naturaleza de mi variable con la funci√≥n $type()$ de python

In [25]:
a = 123
type(a)

int

In [26]:
b = 'Hola mundo!!!'
type(b)

str

In [27]:
c = False
type(c)

bool