# **Tipos de datos**

## _Enteros_

Son un tipo de datos que permite representar numeros enteros, es decir, positivos y negativos no decimales.

In [1]:
num = 12
print(num)

12

En Python, a partir de la version 3, se pueden representar numeros enteros tanto grande como peque√±os ya que por debajo asigna la memoria necesaria al numero que se va a representar

In [4]:
num = 220**250
print(num)
print(type(num))

4033389891707477734755328496062321624851855650186108167392316136344481819489232020749348134554663342567180262809078227006009080452734341032435816682463046374674512069371143084398679007692048444514734762881055933460281291788414235897996008959477402413975715284488587071738776443846331000684563996124540080201710310366837802424963684106240000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
<class 'int'>

### _Enteros de diferentes base_

Tambien es posible asignar valores en binario, hexadecimal y octal. 

- Prefijo 0b para representar un numero binario.
- Prefijo 0x para representar un numero hexadecimal.
- Prefijo 0o pra representar un numero octal

Al imprimir tales numeros, se convierten en enteros para todos los casos

In [7]:
num_b = 0b101
num_h = 0x17
num_c = 0o720

In [8]:
print(num_b, type(num_b))
print(num_h, type(num_h))
print(num_c, type(num_c))

5 <class 'int'>
23 <class 'int'>
464 <class 'int'>

### _Flexibilidad en la memoria_

Python asigna diferentes numeros de bits a las variables en funcion del numero que quieren representar. Vamos a utilizar la funcion _getsizeof()_ para mostrar el tamano de una variable en memoria

In [9]:
# libreria para usar la funcion
import sys

# definimos dos numeros
num1 = 5**10000
num2 = 10

In [10]:
# mostramos el tamano en memoria de cada numero
print(sys.getsizeof(num1), type(num1))
print(sys.getsizeof(num2), type(num2))

3120 <class 'int'>
28 <class 'int'>

Hay casos limites donde el numero a representar es tan grande que genera una excepcion.

In [11]:
print(5e200**2)

OverflowError: (34, 'Numerical result out of range')

Un caso inusual es que si intentamos representar un numero mayor que el anterior nos devuelve lo siguiente en vez de una excepcion.

In [12]:
print(2e2000**2)

inf

### _Convertir a int_

Permite convertir otro tipo a entero. Como int no puede contener decimales, al intentar convertir un numero decimal se truncara todo lo que este a la derecha de la coma.

In [13]:
num = int(2.67)
print(num, type(num))

2 <class 'int'>

## _Float_

Permite representar un numero positivo o negativo con decimales (numeros reales). Al declarar un variable y asignarle un valor decimal, por defecto la variable sera de tipo float

In [14]:
num = 0.0032
print(num, type(num))

0.0032 <class 'float'>

### _Conversion a float_

Tambien se pueden declarar usando la notacion cientifica con 'e' y el exponente. Vamos a representar a 1.93 por diez elevado a la -3.

In [15]:
num = 1.93e-3
print(num, type(num))

0.00193 <class 'float'>

Podemos convertir otro tipo a float mediante la funcion _float()_.

In [16]:
a = float(True)
b = float(2)

print(a, type(a))
print(b, type(b))

1.0 <class 'float'>
2.0 <class 'float'>

En este caso, _True_ es en realidad tratado como 1.0 al convertirlo a float.

### _Rango Representable_

Los float no tienen precision infinita. Veamos el siguiente ejemplo

In [19]:
num = 0.9999999999999999999
print(num, type(num))
print(1 == num)

1.0 <class 'float'>
True

Los float tienen unos valores minimo y maximos que pueden representar:

- Precision minima 2.2250738585072014e-308.
- Precision maxima 1.7976931348623157e+308.

Verifiquemoslo!

In [20]:
import sys

print(sys.float_info.min)
print(sys.float_info.max)

2.2250738585072014e-308
1.7976931348623157e+308

Si asignamos un valor mayor que el _max_, la variable toma el valor _inf_ que representa infinito.

In [21]:
num = 1.7976931348623157e+309
print(num)

inf

### _Precision del float_

Los computadores no pueden representar cualquier numero y mucho menos si este es un irracional.

Al dividir _1/3_ deberia resultar en 0.3 periodico, pero para Python es imposible representar tal numero

In [25]:
print('{:10f}'.format(1.0/3.0))

  0.333333

La siguiente operacion deberia ser cero, pero esto no es asi

In [26]:
print(0.1 + 0.1 + 0.1 - 0.3)

5.551115123125783e-17

## _Booleano_

Es un tipo de dato que permite almacenar dos valores: _True_ o _False_. Representan el resultado de una comparacion entre otros datos.

Para declarar una variable como booleana se procede como sigue:

In [1]:
a = True
b = False

### _Evaluar expresiones_

Al operar expresiones con losoperadores como mayor que, menor que o igual que se devuelve un booleano

In [2]:
print(2 > 10)
print(1 < 3)
print()

False
True

## _String_

Son un tipo de datos inmutable que permite almacenar secuencias de caracteres. Para crear una, es necesario incluir el texto entre comillas simples _''_ o dobles _""_.

In [2]:
text = "Cadena de texto"
print(text)
# tipo de dato
print(type(text))

Cadena de texto
<class 'str'>

Una cadena puede definirse como vacia de la siguiente manera:

In [4]:
text = ''
print(text)

### _Limitacion de las cadenas_

Las cadenas no estan limitadas al tama√±o, por lo que el unico limite es la memoria del computador.

### _Uso de comillas simples o dobles_

Una situacion muy comun, es cuando queremos introducir una comilla, bien sea simple o doble, dentro de una cadena lo que genera un error de sintaxis.

In [5]:
text = "nuevo texto como "Ejemplo" "

SyntaxError: invalid syntax (2070285649.py, line 1)

Python no sabe muy bien donde empieza y termina la cadena!

Para solucionar este problema acudimos a __las secuencias de escape__. En este caso, utilizamos \\" la cual nos permite incrustar comillas dentro de una cadena

In [6]:
text = "nuevo texto como \"Ejemplo\" "
print(text)

nuevo texto como "Ejemplo"

Tambien podemos solucionar este problema utilizando comillas de diferentes tipos tanto para crear el string como para usar dentro del string

In [8]:
text = 'nuevo texto como "Ejemplo" '
print(text)

nuevo texto como "Ejemplo"

In [9]:
text = "nuevo texto como 'Ejemplo' "
print(text)

nuevo texto como 'Ejemplo'

La secuencia de escape \\n incluye un salto de linea dentro de una cadena, lo que significa que lo que este despues del salto, se imprime en una nueva linea.

In [10]:
text = 'Primera linea \nSegunda linea'
print(text)

Primera linea
Segunda linea

Tambien podemos utilizar la secuencia de escape para imprimir un caracter a partir de codigo que le corresponde en el formato ASCI

In [12]:
char = "\110"
print(char)

H

Existe una otra forma de declarar cadenas que ignora las secuencias de escape que contengan. Se conoce como __raw string__ y usa como prefijo _r_.

In [15]:
char = r"\110"
print(char)

\110

Podemos definir una cadena que ocupe varias lineas usando triple comilla _"""_. Esto es util cuando tenemos textos muy largos que no queremos tener en una sola linea.

In [14]:
text = """Cadena completa
que ocupa
al menos 3 lineas"""

print(text)

Cadena completa
que ocupa
al menos 3 lineas

Python, es un lenguaje de <b><i>tipado din√°mico</i></b>. Hay dos formas de tipado:
<ol>
    <li>Est√°tico</li>
    <li>Din√°mico</li>
</ol>
En los lenguajes est√°ticos, cuando se declara una variable es necesario especificar el tipo (Num√©rica, L√≥gica o Alfanum√©rica) y ese tipo es inalterable. En cambio en lenguajes como Python no es necesario establecer un tipo y adem√°s puede cambiar en cualquier momento.<br>
En conclusi√≥n, <b>las variables en Python</b> adoptan su tipo seg√∫n el dato que se le asigna.

### _Formateo de cadenas_

__Primera forma__

La primera forma de declarar una cadena que contenga variables en su interior es usando el operador _+_. Es importante recordar que la funcion _str()_ convierte en string lo que se pasa como parametro.

In [16]:
x = 10
edad = "Tu edad es: " + str(10)
print(edad)

Tu edad es: 10

__Segunda forma__

La segunda forma es usando el operador de cadenas _%_. Funciona con el uso de _%_ a la izquierda indicando el tipo que se quiere imprimir: _%s_ para string, _%d_ para enteros y _%f_ para decimales (Para mayor informacion sobre este tipo de formateo haz clic [aqui](https://docs.python.org/3/library/stdtypes.html#printf-style-string-formatting)) y a la derecha el _%_ la variable a imprimir

In [2]:
# declaramos la variable x
x = 5

# declaramos la variable a imprimir
s = 'El numero es: %d' %x

print(s)

El numero es: 5

Si tenemos mas de una variable, tambien se puede hacer pasando los parametros dentro de _()_.

In [3]:
# variable a imprimir
s = 'Los numeros son: %d y %d' %(2, 8)
print(s)

Los numeros son: 2 y 8

Una forma moderna de realizar lo mismo, es usando _format()_

In [4]:
# variable a imprimir
s = 'Hola {}. Tu edad es {}'.format('Miguel', 19)
print(s)

Hola Miguel. Tu edad es 19

Es posible darle nombre a cada elemento y _format()_ se encargara de reemplazar todo

In [5]:
s = 'Los numeros son {a} y {b}'.format(b=23, a=1)
print(s)

Los numeros son 1 y 23

__Tercera forma__

Es una forma incluida en la version 3.6 de Python y recibe el nombre de cadenas literales o _f-string_. Permite incrustar expresiones dentro de candenas.

In [6]:
# declaramos dos variables
a = 2; b = 3

# declaramos variable a imprimir
s = f'Los numeros son {a} y {b}'
print(s)

Los numeros son 2 y 3

Incluso admite operaciones de las variables dentro de los corchetes

In [7]:
# declaramos dos variables
a = 5; b = 7

# declaramos variable a imprimir
s = f'a + b =  {a+b}'
print(s)

a + b =  12

Hasta se puede llamar una funcion dentro de los corchetes

In [11]:
# declaramos una funcion
def funcion():
    return 12

# variable para mostrar el resultado
s = f'Al sumar 4 a la funcion nos da: {funcion() + 4}'
print(s)

Al sumar 4 a la funcion nos da: 16

### _Metodos de String_

- __Capitalize()__

Se aplica sobre una cadena y la devuelve con su primera letra en mayuscula

In [12]:
text = 'nueva oracion'
print(text.capitalize())

Nueva oracion

- __lower()__

Convierte todos los caracteres alfabeticos en minuscula.

In [13]:
text = 'nUEva ORaCION'
print(text.lower())

nueva oracion

- __swapcase()__

Convierte los caracteres alfabeticos con mayuscula en minuscula y vicerversa.

In [14]:
text = 'NUEVA oracion'
print(text.swapcase())

nueva ORACION

- __upper()__

Convierte todos los caracteres alfabeticos en mayuscula.

In [15]:
text = 'Nueva Oracion'
print(text.upper())

NUEVA ORACION

- __count()__

Permite contar las veces que otra cadena se encuentra dentro de la primera. Admite dos parametros opcionales que indican donde empezar (_start_) y terminar (_end_) de buscar.

    count(sub[start, end])

In [16]:
text = 'locura y tortura'
print(text.count('ura'))

2

In [29]:
# buscar 'ura' hasta el septimo caracter
print(text.count('ura',1,7))

1

- __isalnum()__

Devuelve True si la cadena esta formada unicamente por caracteres alfanumerico, False de lo contrario.Caracteres como @ y & no son alfanumericos.

In [30]:
text = 'correo@dominio.com'
print(text.isalnum())

False

- __isalpha()__

Devuelve true si todos los caracteres son alfabeticos, False de lo contrario. El espacio no cuenta como caracter alfabetico

In [32]:
text = 'la luciernaga'
print(text.isalpha())

False

In [33]:
text = 'Laluciernaga'
print(text.isalpha())

True

- __strip()__

Elimina a la izquierda y derecha el caracter que se le introduce. Si se llama sin parametros elimina los espacios. Muy util para limpiar cadenas.

In [34]:
text = '   aaa   '
print(text.strip())

aaa