# **Tipo de dato avanzado : Listas**

1. La lista es otro tipo de objeto en Python, tal como lo son los números, cadenas y booleanos. A diferencia de estos, las listas son utilizadas para almacenar varios objetos.

2. Una lista se crea agrupando los objetos almacenados entre corchetes ($[\ ]$) y separando estos con comas.

NOTA: Entiéndase como objeto cualquier tipo de dato numérico, _string_, _booleano_, incluso otros tipos de datos como las mismas lista y más.

![lista_pos2.png]()

## _Creación de Listas_

Existen dos formas para crear listas vacías.

In [33]:
# primera forma
lista = list()
lista

[]

In [34]:
# segunda forma
lista = []
lista

[]

Pueden contener elementos del mismo tipos:

In [1]:
primos = [2, 3, 5, 7, 11, 13]
primos

[2, 3, 5, 7, 11, 13]

In [49]:
diasSemana = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"]
diasSemana

['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']

O bien, pueden contener elementos de naturaleza diferente.

In [3]:
fecha = ["Lionel Messi", 9 , "Python" , 3.141592, True]
fecha

['Lionel Messi', 9, 'Python', 3.141592, True]

## _Listas Anidadas_

Son listas dentro de listas. Se conoce como $listas\ anidadas$.

In [36]:
peliculas1 = [
                ["Back to the future",   1985],
                ["Grease"            ,   1978],
                ["Karate Kid"        ,   1984]
             ]
peliculas1

[['Back to the future', 1985], ['Grease', 1978], ['Karate Kid', 1984]]

Las listas pueden tener varios niveles de anidación.

In [37]:
peliculas2 = [
              ["Back to the future",
               1985,
               [
                   ["Michael J. Fox", 1961],
                   ["Christoper Lloyd", 1938]
               ]
              ],
              ["Grease", 1978,[["John Travolta", 1954], ["Olivia Newton-John", 1948]]],
              ["Karate Kid", 1984, [["Ralph Macchio", 1961],["Pat Morita", 1932]]]
            ]
peliculas2

[['Back to the future',
  1985,
  [['Michael J. Fox', 1961], ['Christoper Lloyd', 1938]]],
 ['Grease', 1978, [['John Travolta', 1954], ['Olivia Newton-John', 1948]]],
 ['Karate Kid', 1984, [['Ralph Macchio', 1961], ['Pat Morita', 1932]]]]

Las listas pueden ser __concatenadas__ y __multiplicadas__  de la misma manera que las cadenas.

In [38]:
nums = [1,2,3]
print(nums + [4,5,6])
print([4,5,6] + nums)
print (nums * 5)
print(nums)

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3]

## _Subíndices_

Una lista suele interpretarse como una fila de casillas, en donde cada casilla se almacena un elemento. Cada una de las casillas se identifica con un valor de una secuencia de números. Cada valor se conoce como subíndice.

El primer elemento le corresponde el subíndice 0, el segundo elemento le corresponde el índice 1..., el enésimo elemento le corresponde el índice n-1.

Para acceder al objeto almacenado en la lista, se utiliza el nombre de la lista, seguido de corchetes ($[\ ]$) y dentro de estos la posición ($subíndice$) en la que se encuentra el objeto de interés.

In [39]:
peliculas2

[['Back to the future',
  1985,
  [['Michael J. Fox', 1961], ['Christoper Lloyd', 1938]]],
 ['Grease', 1978, [['John Travolta', 1954], ['Olivia Newton-John', 1948]]],
 ['Karate Kid', 1984, [['Ralph Macchio', 1961], ['Pat Morita', 1932]]]]

In [8]:
# primer elemento de la lista anterior
peliculas2[0]

['Back to the future',
 1985,
 [['Michael J. Fox', 1961], ['Christoper Lloyd', 1938]]]

In [40]:
# Segundo elemento
peliculas2[1]

['Grease', 1978, [['John Travolta', 1954], ['Olivia Newton-John', 1948]]]

Para el caso en que sean listas anidadas, se utilizan los corchetes ($[\ ]$) tantas veces como listas haya para ingresar.

In [41]:
# lista de peliculas y su respectivo year
peliculas1

[['Back to the future', 1985], ['Grease', 1978], ['Karate Kid', 1984]]

In [43]:
# obtener informacion de la primera pelicula
peliculas1[0]

['Back to the future', 1985]

In [44]:
# obtener nombre de la tercera pelicula
peliculas1[2][0]

'Karate Kid'

In [45]:
# lista con varios niveles de anidacion
peliculas2

[['Back to the future',
  1985,
  [['Michael J. Fox', 1961], ['Christoper Lloyd', 1938]]],
 ['Grease', 1978, [['John Travolta', 1954], ['Olivia Newton-John', 1948]]],
 ['Karate Kid', 1984, [['Ralph Macchio', 1961], ['Pat Morita', 1932]]]]

In [46]:
# obtener la protagonista de Grease
peliculas2[1][2][1][0]

'Olivia Newton-John'

In [47]:
# obtener el year de la pelicula Karate Kid
peliculas2[2][1]

1984

Indexar fuera de los límites de los valores posibles de una lista genera un <b>IndexError</b>.

In [50]:
diasSemana

['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']

In [51]:
diasSemana[7]

IndexError: list index out of range

In [52]:
cosas = ["Hola", "mundo", "!!!", 2.71, "Python", True]
print(cosas[0])
print(cosas[1])
print(cosas[2])
print(cosas[3])
print(cosas[4])
print(cosas[5])

Hola
mundo
!!!
2.71
Python
True

También podemos utilizar subíndices con valores negativos.

Los subíndices negativos referencian a los elementos de la lista en reversa. -1 indica el último elemento de la lista, -2 el penúltimo..., y -n el primer elemento de la lista, siendo n el número de elementos de la lista

In [53]:
# ultimo elemento de la lista
cosas[-1]

True

In [54]:
# penultimo elemento de la lista
cosas[-2]

'Python'

In [55]:
# primer elemento de la lista
cosas[-6]

'Hola'

## _Modificar Elementos_

Para cambiar el dato almacenado en un subíndice de la lista, utilizamos la misma sintaxis de acceso acompañado del operador de asignación (=) y el valor a asignar.

In [56]:
cosas

['Hola', 'mundo', '!!!', 2.71, 'Python', True]

In [57]:
# modificar segundo elemento de la lista
cosas[1] = 'Gente'
cosas

['Hola', 'Gente', '!!!', 2.71, 'Python', True]

## _Agregar Elementos_

#### __Método Append__

Para agregar un dato a una lista, utilizamos el método append. El método append recibe como argumento el dato a agregar, aumenta el tamaño de la lista y agrega el nuevo dato como su último elemento.

In [38]:
cosas

['Hola', 'Gente', '!!!', 2.71, 'Python', True]

In [39]:
# agregar valor False a la lista
cosas.append(False)
cosas

['Hola', 'Gente', '!!!', 2.71, 'Python', True, False]

#### __Método Extend__

El método extend nos permite añadir múltiples datos a través de una lista. _extend_ recibe como argumento una lista que contiene los datos a agregar.

In [40]:
cosas

['Hola', 'Gente', '!!!', 2.71, 'Python', True, False]

In [41]:
# agregar varios elementos a la lista
cosas.extend(['tarde', 'noche'])
cosas

['Hola', 'Gente', '!!!', 2.71, 'Python', True, False, 'tarde', 'noche']

#### __Método Operador__

También podemos añadir múltiples datos utilizando el operador de asignación suma (+=), con los nuevos datos introducidos en otra lista.

In [42]:
cosas += ['zapato', 27]
cosas

['Hola',
 'Gente',
 '!!!',
 2.71,
 'Python',
 True,
 False,
 'tarde',
 'noche',
 'zapato',
 27]

#### __Método insert__

El método _insert()_, inserta un objeto en una posición determinada de la lista.

In [43]:
cosas = ["Python","Funciones"]

# indicamos el indice donde deseamos insertar el nuevo elemento
index = 1
# utilizamos insert
cosas.insert(index,"Método")
# mostramos la lista
print(cosas)
# agregamos mas valores a la lista
cosas.insert(0 ,["IA","Redes Neuronales", 2.71])
# mostramos la lista
print(cosas)

['Python', 'Método', 'Funciones']
[['IA', 'Redes Neuronales', 2.71], 'Python', 'Método', 'Funciones']

#### __Concatenación elementos de listas__

In [56]:
cosas

[['IA', 'Redes Neuronales', 2.71], 'Python', 'Método', 'Funciones']

In [58]:
# concatenacion de elementos de una lista
cosas[2] + ' ' + cosas[1]

'Método Python'

## Eliminar Elementos

Al momento de eliminar un dato de la lista, esta se reacomodará.

Con la reacomodación, el tamaño de la lista se verá reducido en uno y los elementos ubicados a la derecha del dato eliminado cambiarán su subíndice. Para remover un dato de una lista tenemos varias alternativas

### $Sentencia\ del$

Podemos utilizar la sentencia **del** acompañada del dato accedido a través del subíndice.

In [77]:
frutas = ['manzana', 'durazno', 'pera', 'piña']
frutas

['manzana', 'durazno', 'pera', 'piña']

In [78]:
# eliminar el elemento 'pera'
del frutas[2]
frutas

['manzana', 'durazno', 'piña']

In [79]:
# eliminar todos los elementos excepto el primero
del frutas[1:]
frutas

['manzana']

In [80]:
# eliminar la lista completa
del frutas

### $Metodo\ remove$

El método remove nos ayuda a eliminar un dato. remove recibirá como argumento el dato a eliminar

In [1]:
frutas = ['manzana', 'durazno', 'pera', 'piña']
frutas

['manzana', 'durazno', 'pera', 'piña']

In [2]:
frutas.remove('durazno')
frutas

['manzana', 'pera', 'piña']

Si existe uno o más datos del mismo valor, remove eliminará el dato ubicado en el menor subíndice.

In [3]:
frutas += ['manzana', 'pera']
frutas

['manzana', 'pera', 'piña', 'manzana', 'pera']

In [4]:
frutas.remove('pera')
frutas

['manzana', 'piña', 'manzana', 'pera']

Si el elemento no existe en lista, retorna un ValueError

In [5]:
frutas.remove('mango')
frutas

ValueError: list.remove(x): x not in list

### $Metodo\ pop$

El método `pop` nos ayuda a eliminar un dato a través de su subíndice. `pop` recibirá como argumento el **subíndice** que indica el dato a eliminar y devolverá como valor el dato eliminado.

In [7]:
frutas

['manzana', 'piña', 'manzana', 'pera']

In [8]:
ele_eliminado = frutas.pop(3)
print(f'El elemento eliminado fue {ele_eliminado}')

El elemento eliminado fue pera

Si no se pasa argumento al metodo, entonces se elimina el ultimo elemento de la lista

In [9]:
frutas

['manzana', 'piña', 'manzana']

In [10]:
ele_eliminado = frutas.pop()
print(ele_eliminado)

manzana

### $Metodo\ clear$

Con este metodo podemos dejar la lista sin sus elementos, dejarla vacia.

In [81]:
frutas = ['manzana', 'durazno', 'pera', 'piña']
frutas

['manzana', 'durazno', 'pera', 'piña']

In [83]:
frutas.clear()
frutas

[]

## Secciones de lista

Podemos crear "secciones" o sublistas a partir de una lista existente.

Una sublista es una lista que se crea a partir de otra lista. Al crearse, siempre tendrá elementos en común con la lista "padre".

Su sintaxis es similar a la de acceder un dato.

In [14]:
frutas = ['manzana', 'durazno', 'pera', 'piña', 'ciruela', 'kiwi']
frutas

['manzana', 'durazno', 'pera', 'piña', 'ciruela', 'kiwi']

In [15]:
# acceder a los dos elementos de la mitad de la lista
frutas[2:4]

['pera', 'piña']

Una sublista tiene una posición inicial y una posición final. Así que, en lugar de indicar un único valor numérico en los corchetes, debemos indicarlo de la siguiente manera:

1.   subíndice del primer elemento de la sublista
2.   operador dos puntos (:)
3.   subíndice del `último-1` elemento de la sublista

Esto quiere decir que el primer valor es **inclusivo** y el último valor es **exclusivo**.

En la celda anterior, la sintaxis fue la siguiente:

*   2
*   :
*   4

Si restamos el segundo valor con el primer valor `(4 - 2)`, obtenemos la cantidad de elementos de la sublista (si tienen el mismo signo). En este caso, fueron dos: `'pera'` y `'pina'`.

In [17]:
# acceder a los 4 elementos desde la posicion 1
frutas[1:5]

['durazno', 'pera', 'piña', 'ciruela']

Si omitimos el primer subindice, toma por defecto la posicion 0.

In [18]:
frutas[:2]

['manzana', 'durazno']

Si omitimos el ultimo sub indice, tomara como valor por defecto la cantidad de elementos de la lista padre

In [19]:
frutas[3:]

['piña', 'ciruela', 'kiwi']

Incluso si omitimos ambos subindices, tendran los mismos valores por defecto de la lista padre

In [20]:
frutas[:]

['manzana', 'durazno', 'pera', 'piña', 'ciruela', 'kiwi']

Si pasamos un valor de subindice mayor que la cantidad de elementos de la lista, devolvera solo los elementos de la lista

In [21]:
frutas[:20]

['manzana', 'durazno', 'pera', 'piña', 'ciruela', 'kiwi']

In [22]:
frutas[2:40]

['pera', 'piña', 'ciruela', 'kiwi']

Podemos utilizar valores negativo en la sintaxis para acceder a los elementos de forma inversa.

In [23]:
# ultimo elemento de la lista
frutas[-1:]

['kiwi']

In [24]:
# acceder a elemento de forma inversa
frutas[-5:-2]

['durazno', 'pera', 'piña']

Si a la sintaxis `[:]` añadimos otro operador dos puntos (:) y un valor numérico, se determinará la secuencia que utilizará la sublista para añadir los elementos. Por ejemplo, `[::2]` tendrá en cuenta todos los elementos de la lista y los añadirá a la sublista de dos en dos.

In [26]:
frutas

['manzana', 'durazno', 'pera', 'piña', 'ciruela', 'kiwi']

In [25]:
# mostrar los elementos de cada dos posiciones
frutas[::2]

['manzana', 'pera', 'ciruela']

Cualquier secuencia puede utilizar la sintaxis de secciones, como el *string*

In [27]:
'Mesada'[:4]

'Mesa'

## Recorrido de Listas

Como una lista es una secuencia de elementos, podemos recorrerla a través de `for`.

In [28]:
frutas

['manzana', 'durazno', 'pera', 'piña', 'ciruela', 'kiwi']

In [29]:
for i in frutas:
    print(i)

manzana
durazno
pera
piña
ciruela
kiwi

Podemos usar la función `enumerate` para referir el número y el elemento de la secuencia de la iteración actual.

In [30]:
for i in enumerate(frutas):
    print(i)

(0, 'manzana')
(1, 'durazno')
(2, 'pera')
(3, 'piña')
(4, 'ciruela')
(5, 'kiwi')

Podemos asignar este valor numérico a otra variable iteradora en `for`.

In [31]:
for indice, fruta in enumerate(frutas):
    print(f'El elemento numero {indice} es {fruta}')

El elemento numero 0 es manzana
El elemento numero 1 es durazno
El elemento numero 2 es pera
El elemento numero 3 es piña
El elemento numero 4 es ciruela
El elemento numero 5 es kiwi

## Desempaquetar Listas

Los elementos de las listas pueden asignarse a otras variables de forma directa como sigue

In [58]:
lista = ['val_1', 'val_2', 'val_3', 'val_4', 'val_5']
lista

['val_1', 'val_2', 'val_3', 'val_4', 'val_5']

In [60]:
# asignacion a igual cantidad de variables
media1, media2, media3, media4, media5 = lista

# mostrar valores de las variables
print(media1)
print(media2)
print(media3)
print(media4)
print(media5)

val_1
val_2
val_3
val_4
val_5

Tambien se pueden asignar a una cantidad de variables menor que la cantidad de elementos de la lista

In [62]:
# se asigna los elementos val_3, val_4 y val_5 a media3
# a traves de una lista
media1, media2, *media3 = lista

print(media1)
print(media2)
print(media3)

val_1
val_2
['val_3', 'val_4', 'val_5']

In [63]:
# se asigna los elementos val_2, val_3 y val_4 a media2
# a traves de una lista
media1, *media2, media5 = lista

print(media1)
print(media2)
print(media5)

val_1
['val_2', 'val_3', 'val_4']
val_5

## Elementos en Lista

Para saber si un elemento se encuentra en una lista basta con usar el operador *in*. Devuelve True si el elemento se encuentra en la lista y False en caso contrario.

In [65]:
frutas = ['Aguacate', 'naranja', 'mango', 'limon']
frutas

['Aguacate', 'naranja', 'mango', 'limon']

In [66]:
print('naranja' in frutas)

True

In [67]:
print('pera' in frutas)

False

## Copiar Lista

utilizamos el metodo *copy* para crear una copia de una lista completamente independiente de las demas.

In [84]:
frutas = ['Aguacate', 'naranja', 'mango', 'limon']
frutas

['Aguacate', 'naranja', 'mango', 'limon']

In [85]:
copia_frutas = frutas.copy()
copia_frutas

['Aguacate', 'naranja', 'mango', 'limon']

## Unir listas

Podemos unir listas de diferentes tamanos, tipos de datos o formas con el operador *+*.

In [86]:
numeros_positivos = [1,2,3,4,5]
cero = [0]
numeros_negativos = [-5,-4,-3,-2,-1]

entero = numeros_negativos + cero + numeros_positivos
print(entero)

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

In [87]:
# dias
dias = ['lunes', 'miercoles', 'viernes']
# numeros pares
num_pares = [2,4,6]
# variado
lista_compras = [['tomate', 'cebolla', 'cilantro'], [2, 3, 1]]

# unir listas

planificacion = dias + num_pares + lista_compras
print(planificacion)

['lunes', 'miercoles', 'viernes', 2, 4, 6, ['tomate', 'cebolla', 'cilantro'], [2, 3, 1]]

## Comprension de Listas

Ofrecen una manera concisa de crear listas. Crea nuevas listas donde cada elemento es el resultado de algunas operaciones aplicada a cada mienbro de otra secuencia o iterable.

In [1]:
# cuadrado de cada numero del o al 9
cuadrado = [x**2 for x in range(10)]
cuadrado

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Consiste de corchetes rodeado de una expresion seguida de la declaracion for y luego cero o mas declaraciones for o if que le siguen.

In [2]:
# combinar los elementos de dos listas si no son iguales
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

Tambien podemos operar sobre listas ya creadas

In [3]:
# vector
vec = [-3,-2,-1,0,1,2,3]

# crear un nuevo vector con sus valores al cuadrado
vec_2 = [x*2 for x in vec]
vec_2

[-6, -4, -2, 0, 2, 4, 6]

In [4]:
# excluir los valores negativos del vector
[x for x in vec if x>= 0]

[0, 1, 2, 3]

In [5]:
# aplicar el valor absoluto sobre todos los valores del vector
[abs(x) for x in vec]

[3, 2, 1, 0, 1, 2, 3]

Tambien podemos aplicar un metodo sobre cada elemento de la lista

In [6]:
# lista de frutas
frutas = [' banana', 'pera  ', ' manzana ']

# aplicar la funcion strip que omite los espacios en blanco en una cadena
new_frutas = [fruta.strip() for fruta in frutas]
new_frutas

['banana', 'pera', 'manzana']

Nos permite crear listas de dos tuplas. Para ello, debemos encerrar entre parentesis los valores de tuplas

In [7]:
# tuplas de numeros con su respectivo cuadrado
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

Util para aplanar listas de varios niveles.

In [8]:
# vector de 3 dimenesiones
vec = [[1,2,3], [4,5,6], [7,8,9]]

# aplanar a 1 dimension
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

La expresion inicial de una comprension de listas puede ser cualquier expresion arbitraria, incluyendo otra comprension de listas.

In [9]:
#matriz 3x4
matriz = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

matriz

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [10]:
# trasponer las filas por columnas
[[fila[i] for fila in matriz] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

# **Mas Funciones y métodos de listas**

### $len()$

Retorna la longitud de un iterable, es decir, el número de objetos que tiene un iterable.

In [25]:
nums = [ 1 , ['Python' , 'IA'] , 3.141592 , True , 'Hola mundo']
print(len(nums))

5

### $index()$

El método <span style="background:#BEBEBE" > <b> index() </b> </span>, retorna el índice (la posición) de objeto. Sí el objeto está varias veces en la lista, retornará la posición del primero que se encuentre de izquierda a decha. Sí el objeto no está en la lista, retorna la excepción ValueError

In [88]:
letras = ['o','q','r','s','p','u','p']
letras.index('p')

4

### $max()$

La función <span style="background:#BEBEBE" > <b> max(list) </b> </span> devuelve el elemento de una lista con el máximo valor.

In [90]:
letras = ['p','q','r','s','p','u','a']
numeros = [2,5,8,9,4,5,1,0,5]
print(max(letras))
print(max(numeros))

u
9

### $min()$

La función <span style="background:#BEBEBE" > <b> min(list) </b> </span> devuelve el elemento de una lista con el mínimo valor.

In [91]:
letras = ['p','q','r', 'b','s','p','u']
numeros = [2,5,8,9,4,5,1,0,5]
print(min(letras))
print(min(numeros))

b
0

### $count()$

El método <span style="background:#BEBEBE" > <b> lista.count(obj) </b> </span> devuelve un conteo de cuántas veces un elemento está en una lista.

In [92]:
numeros

[2, 5, 8, 9, 4, 5, 1, 0, 5]

In [93]:
# Cuenta cuántas veces está el número 5 en la lista
numeros.count(5)

3

In [94]:
letras

['p', 'q', 'r', 'b', 's', 'p', 'u']

In [95]:
# Cuenta cuántas veces está la letra 'p' en la lista
letras.count('p')

2

### $reverse()$

El método <span style="background:#BEBEBE" > <b> lista.reverse() </b> </span> invierte los elementos de una lista

In [96]:
numeros

[2, 5, 8, 9, 4, 5, 1, 0, 5]

In [97]:
print(numeros.reverse())
print(numeros)

None
[5, 0, 1, 5, 4, 9, 8, 5, 2]

In [98]:
letras

['p', 'q', 'r', 'b', 's', 'p', 'u']

In [99]:
print(letras.reverse())
print(letras)

None
['u', 'p', 's', 'b', 'r', 'q', 'p']

### $sort()$

El método <span style="background:#BEBEBE" > <b> lista.sort() </b> </span> ordena los elementos de una lista.

In [100]:
numeros

[5, 0, 1, 5, 4, 9, 8, 5, 2]

In [101]:
print(numeros.sort())
print(numeros)

None
[0, 1, 2, 4, 5, 5, 5, 8, 9]

In [102]:
letras

['u', 'p', 's', 'b', 'r', 'q', 'p']

In [103]:
print(letras.sort())
print(letras)

None
['b', 'p', 'p', 'q', 'r', 's', 'u']

### $sorted()$

Funcion que devuelve la lista ordenada sin modificar la original

In [105]:
numeros = [2,5,8,9,4,5,1,0,5]
numeros

[2, 5, 8, 9, 4, 5, 1, 0, 5]

In [107]:
new_lista = sorted(numeros)
print(new_lista)

[0, 1, 2, 4, 5, 5, 5, 8, 9]

### $sum()$

Funcion que suma los elementos de una lista dada.

In [108]:
numeros

[2, 5, 8, 9, 4, 5, 1, 0, 5]

In [109]:
sum(numeros)

39

### $any()$

Funcion que devuelve True si al menos un elemento de la lista es verdadero o si no esta vacia

In [114]:
# lista con booleanos falsos
lista = [False, False, False]
any(lista)

False

In [115]:
# lista con elementos de diferentes tipos
lista = [False, 1, 2, 'casa']
any(lista)

True

In [116]:
# lista vacia
lista = []
any(lista)

False

### $all()$

Funcion que devuelve True si todos los elementos de la lista son verdaderos

In [118]:
# lista con un elemento falso
lista = [True, True, False]
all(lista)

False

In [119]:
# lista con elementos de diferentes tipos
lista = [1, 1.3, 'casa', False]
all(lista)

False

In [120]:
# lista con elementos de diferentes tipos
lista = [2.3, 3, 'Casa']
all(lista)

True

In [121]:
# lista con todos sus elementos verdaderos
lista = [True, True, True]
all(lista)

True

### $enumerate()$

Funcion que devuelve un objeto enumerado que puede ser iterado

In [123]:
lista = [1, 1.3, 'casa', True]
cosas = enumerate(lista)

for indice, cosa in cosas:
    print(f'Indice {indice}: {cosa}')

Indice 0: 1
Indice 1: 1.3
Indice 2: casa
Indice 3: True

### $filter()$

Filtra la lista segun una funcion que devuelve verdadero o falso. Debemos guardar el resultado de filter en una lista para poder visualizarlo.

In [124]:
# funcion que determina si un numero es par
def es_par(n):
    return n % 2 == 0

In [129]:
# lista de numeros
numeros = [1, 7, 3, 22, 5, 11, 5, 8, 12, 0]
# aplicar filter, pasar los valores a una lista y mostrarlo
print(list(filter(es_par, numeros)))

[22, 8, 12, 0]

### $map()$

Aplica una funcion a cada elemento de la lista. Devuelve una nueva lista con los resultados, por tanto, debemos asignar los resultados a una lista.

In [128]:
# funcion que eleva el cuadrado un numero
def cuadrado(n):
    return n*n

In [130]:
# lista de numeros
numeros = [1, 7, 3, 22, 5, 11, 5, 8, 12, 0]

# aplicar map para elevar el cuadrado cada numero
numeros_cuadrados = list(map(cuadrado, numeros))
print(numeros_cuadrados)

[1, 49, 9, 484, 25, 121, 25, 64, 144, 0]

### $zip()$

Agrupa elementos de varias listas y en tuplas contenidas en una lista

In [131]:
# lista de nombres y edades
nombres = ["Ana", "Juan", "Maria", "Pedro"]
edades = [25, 30, 22, 35]

In [132]:
# aplicamos zip para combinar las dos listas
combinar = list(zip(nombres, edades))
print(combinar)

[('Ana', 25), ('Juan', 30), ('Maria', 22), ('Pedro', 35)]

Si las listas son de diferentes tamanos, zip solo combina hasta el menor tamano de las listas, ignorando los elementos restantes de la lista mas larga

In [133]:
nombres = ["Ana", "Juan", "Maria"]
edades = [25, 30]

In [134]:
combinar = list(zip(nombres, edades))
print(combinar)

[('Ana', 25), ('Juan', 30)]

# **Ejercicio de lista**

Diseñe un algoritmo en Python que permita amacenar la información de cliente en listas anidadas. La forma de las lista debe ser la siguiente.

cliente = [
            [documento1, nombre1, apellido1 , edad1 ] ,
            [documento2, nombre2, apellido2 , edad2 ] ,
            ...
            [documento_n, nombre_n, apellido_n , edad_n ] ,
]

Inicialmente, el algoritmo deberá pedir cuantos cliente van a ser almacenadas en la "base de datos".

In [41]:
# cantidad de clientes a almacenar
n_clientes = int(input('Cuantos clientes deseas registrar: '))

# lista base de datos
BD = []

for i in range(1, n_clientes+1):
    # lista informacion clientes
    cliente = []
    DNI = int(input(f'Ingrese el documento del cliente {i}:'))
    cliente.append(DNI)                
    nombre = input(f'Ingrese el nombre del cliente {i}: ')
    cliente.append(nombre)
    apellido = input(f'Ingrese el apellido del cliente {i}: ')
    cliente.append(apellido)
    edad = int(input(f'Ingrese la edad del cliente {i}: '))
    cliente.append(edad)
    
    # agregar datos del cliente a la BD
    BD.append(cliente)
    
BD

Cuantos clientes deseas registrar: 2
Ingrese el documento del cliente 1:234321
Ingrese el nombre del cliente 1: Jose
Ingrese el apellido del cliente 1: Bernal
Ingrese la edad del cliente 1: 30
Ingrese el documento del cliente 2:211123
Ingrese el nombre del cliente 2: Isabella
Ingrese el apellido del cliente 2: Alvarez
Ingrese la edad del cliente 2: 7

[[234321, 'Jose', 'Bernal', 30], [211123, 'Isabella', 'Alvarez', 7]]

In [27]:
cond = {

    False: 0,
    True: 1
}

cond[True or False] = 2
cond[True and False or True] = 3
print(cond)

{False: 0, True: 3}

In [30]:
print({1,2,3} == {1,2,3})

True