# **Tipo de dato avanzado : Tuplas**

<span style="background:#BEBEBE" > <b> La tupla </b> </span> es otro tipo de arreglo de Python. Se maneja como una lista más cerrada porque no puede cambiar elementos individuales, en otras palabras, es <b>inmutable</b>.

Se crea usando los paréntesis ($(\ )$) y cada objeto separado por comas ($,$) o simplemente los objetos separados por comas.

![tupla_pos2.png]()

## Declaración de Tuplas

Se usan paréntesis y dentro de estos, debe haber al menos un dato con una coma seguida de éste.

In [2]:
tupla1 = ('Python', 'Inteligencia Artificial', True, 9, 8, 7)
print(tupla1)
print(type(tupla1))

('Python', 'Inteligencia Artificial', True, 9, 8, 7)
<class 'tuple'>

En caso de no agregar la coma,, Python interpreta la variable como el dato guardado y no como una tupla.

In [3]:
tupla2 = (22)
print(tupla2)
print(type(tupla2))

22
<class 'int'>

Otra forma de crear tuplas es sin los paréntesis, utilizando comas para separar los elementos.

In [4]:
tupla3 = 1, 2, 3, 4, 5
print(tupla3)
print(type(tupla3))

(1, 2, 3, 4, 5)
<class 'tuple'>

## Tipos de datos que soportan las Tuplas

Las tuplas pueden guardar más de un tipo de dato así como aceptar datos duplicados.

In [5]:
# tupla con diferentes tipos de datos
tupla1 = ('dos', 23.3, True)
print(tupla1)

('dos', 23.3, True)

In [7]:
# tipo de datos de cada elemento de la tupla
print(type(tupla1[0]))
print(type(tupla1[1]))
print(type(tupla1[2]))

<class 'str'>
<class 'float'>
<class 'bool'>

## Acceso a los elementos

Se maneja de forma similar a las listas. Una vez declarada la variable, se puede acceder mediante un índice entre corchetes. El primer elemento siempre tiene índice 0.

In [9]:
tupla1 = ('uno', 2, True)
print(f'Primer elemento de la tupla: {tupla1[0]}')
print(f'Segundo elemento de la tupla: {tupla1[1]}')
print(f'Tercer elemento de la tupla: {tupla1[2]}')

Primer elemento de la tupla: uno
Segundo elemento de la tupla: 2
Tercer elemento de la tupla: True

#### __Acceso mediante índices negativos__

Podemos hacer uso de índices negativos comenzando desde el -1. Tales valores cuentan de forma inversa los elementos de la tupla, siendo -1 el último valor de esta y -2 el penúltimo y así sucesivamente.

In [10]:
tupla1 = (True, 2.3, 'hola')
print(f'Primer elemento de la tupla: {tupla1[-3]}')
print(f'Segundo elemento de la tupla: {tupla1[-2]}')
print(f'Tercer elemento de la tupla: {tupla1[-1]}')

Primer elemento de la tupla: True
Segundo elemento de la tupla: 2.3
Tercer elemento de la tupla: hola

#### __Rangos o intervalos__

Podemos obtener intervalos de las tuplas. Al definirlo, se retorna un nuevo objeto de la clase tupla con los elementos hallados entre los índices asignados. Para los intervalos, el límite inferior es inclusivo y el superior exclusivo.

In [11]:
tupla1 = 'a', 'b', 'c', 'd', 'e'

 **Si no se especifica alguno de los índices** se tomara desde el primer elemento para el caso del inferior, o hasta el ultimo elemento en caso de omitirse el superior. También podemos definir rangos con índices negativos.

Rango sin límite inferior

In [13]:
print(tupla1[:2])

('a', 'b')

Rango sin límite superior

In [14]:
print(tupla1[1:])

('b', 'c', 'd', 'e')

Rango con indices negativos

In [15]:
print(tupla1[-2:-1])

('d',)

## Inmutabilidad de las tuplas

Tenemos la siguiente tupla

In [16]:
tupla1 = ('hola', 'Adios', 2.3)

Intentemos cambiar el elemento 3 de la tupla por un string

In [17]:
tupla1[2] = "Bienvenido"

TypeError: 'tuple' object does not support item assignment

El error se produce debido a que las tuplas son inmutables, es decir, una vez definida no puedes modificar sus elementos.

## Tuplas Anidadas

Podemos anidar tuplas como si fueran elementos separados por coma.

In [18]:
tupla1 = (1,2,3,4,5)
tupla2 = ('Python', 'Inteligencia Artificial', True, 9, 8, 7)
print(tupla1)
print(tupla2)

(1, 2, 3, 4, 5)
('Python', 'Inteligencia Artificial', True, 9, 8, 7)

In [19]:
tupla3 = tupla1,tupla2
print(tupla3)

((1, 2, 3, 4, 5), ('Python', 'Inteligencia Artificial', True, 9, 8, 7))

In [20]:
# obtener elemento de valor 8 del elemento 2 de la tupla 3
print(tupla3[1][4])

8

## Operaciones con Tuplas

La primera forma con la cual se puede modificar una tupla es por medio de dos operadores

__Operador Adición__

In [22]:
tupla1 = ('a','b','c')
tupla2 = (1,2,3)
tupla3 = tupla1 + tupla2
print(tupla3)

('a', 'b', 'c', 1, 2, 3)

__Operador multiplicación__

La multiplicación no es aritmética! No cambiará el valor del contenido, hará copias del mismo.

In [23]:
tupla4 = tupla1*3
print(tupla4)

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

## Adicionar un elemento

Podemos agregar un elemento a una tupla usando la concantenación.

In [26]:
# definimos una tupla
tupla1 = (1,2,3)

# crear un elemento tipo tupla
ele = 4,

# agregar elemento a la tupla
tupla1 += ele

# mostrar tupla
print(tupla1)

(1, 2, 3, 4)

## Búsqueda de un elemento en una Tupla

Para determinar si un elemento existe dentro de una tupla utilizamos el operador _in_

In [1]:
tupla1 = 3, 'hola', True, 1
print(tupla1)

(3, 'hola', True, 1)

Verifiquemos que la tupla contenga el elemento True

In [2]:
print(True in tupla1)

True

## Remover/Actualizar un elemento

No hay forma directa de remover o reemplazar un elemento de una tupla. No obstante podemos hacer esto transformando la tupla en una lista para la operación y posteriormente convirtiendo la lista en una tupla nuevamente mediante el comando _tuple_.

In [27]:
# definimos la tupla
tupla1 = ('A', 1, True)

In [28]:
# convertimos a lista y removemos el elemento 'A'
lista = list(tupla1)
lista.remove('A')

In [29]:
# convertimos la lista a tupla nuevamente
tupla1 = tuple(lista)
print(tupla1)

(1, True)

Para actualizar un elemento de una tupla procedemos como sigue:

In [32]:
# definimos la tupla
tupla1 = ('A', 1, True)

In [33]:
# convertimos a lista y modificamos el elemento True
lista = list(tupla1)
lista[2] = False

In [34]:
# convertimos la lista a tupla nuevamente
tupla1 = tuple(lista)
print(tupla1)

('A', 1, False)

# __Funciones aplicadas a tuplas__

In [35]:
tupla1 = 1, 5, 2, 3 ,4, 5
tupla2 = ('Python', 'IA', 3.141592, 9, 'IA', 8, 7, 'IA')
tupla3 = ('p','q','r','s','p','u')

### __len()__

Muestra la longitud de la tupla

In [36]:
tupla2 = ('Python', 'IA', 3.141592, 9, 'IA', 8, 7, 'IA')
len(tupla2)

8

### __max()__
La función _max_ devuelve el valor mas alto de la tupla. Es importante que la tupla tenga elementos del mismo tipo

In [37]:
tupla1 = 1, 5, 2, 3 ,4, 5
max(tupla1)

5

In [39]:
# tupla2 contiene diferentes tipos
tupla2 = ('Python', 'IA', 3.141592, 9, 'IA', 8, 7, 'IA')
max(tupla2)

TypeError: '>' not supported between instances of 'float' and 'str'

In [41]:
# tupla3 con elementos del mismo tipo
tupla3 = ('p','q','r','s','p','u')
max(tupla3)

'u'

### __min()__

La función _min_ devuelve el valor más bajo de la tupla.

In [42]:
tupla1 = 1, 5, 2, 3 ,4, 5
min(tupla1)

1

In [43]:
tupla3 = ('p','q','r','s','p','u')
min(tupla3)

'p'

### __sum()__

Calcula la suma de todos los elementos en la tupla, si son numéricos.

In [12]:
tupla1 = (2,3,4,5)
tupla1

(2, 3, 4, 5)

In [13]:
print(sum(tupla1))

14

In [14]:
tupla2 = ('a', 2, 3)
tupla2

('a', 2, 3)

In [15]:
print(sum(tupla2))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### __any()__

Retorna True si al menos un elemento de la tupla es verdadero.

In [16]:
tupla1 = (False, False, 0)
tupla1

(False, False, 0)

In [17]:
print(any(tupla1))

False

El cero es considerado como False por tanto, _any()_ devuelve False.

In [18]:
tupla2 = (False, False, 1)
tupla2

(False, False, 1)

In [19]:
print(any(tupla2))

True

### __all()__

Retorna True si todos los elementos de la tupla son verdaderos.

In [21]:
tupla1 = True, True, 0
tupla1

(True, True, 0)

In [22]:
print(all(tupla1))

False

Como cero se considera falso, _all()_ devuelve False.

In [23]:
tupla2 = True, True, 1
tupla2

(True, True, 1)

In [24]:
print(all(tupla2))

True

### __sorted()__

Retorna una lista con los elementos de la tupla en orden ascendente, si son numericos o string

In [27]:
tupla1 = (8, 3, 4, 1)
tupla1

(8, 3, 4, 1)

In [28]:
print(sorted(tupla1))

[1, 3, 4, 8]

### __tuple()__

Convierte una secuencia, como una lista o string, en una tupla

In [29]:
lista1 = [3, 'hola', 3.2]
lista1

[3, 'hola', 3.2]

In [30]:
tupla1 = tuple(lista1)
tupla1

(3, 'hola', 3.2)

In [31]:
string = 'saludos'
string

'saludos'

In [32]:
tupla2 = tuple(string)
tupla2

('s', 'a', 'l', 'u', 'd', 'o', 's')

### __reversed()__

Devuelve un iterador que permite recorrer una secuencia en orden inverso. Permite obtener los elementos desde el ultimo hasta el primero sin tener que modificar la secuencia origianl

In [1]:
tupla1 = 3,5,7,9
print(tupla1)

(3, 5, 7, 9)

In [3]:
inv = reversed(tupla1)
print(inv)

<reversed object at 0x7f59444f0550>

In [4]:
tupla1 = tuple(inv)
print(tupla1)

(9, 7, 5, 3)

# __Metodos aplicados a tuplas__

### __count()__

Cuenta la cantidad de veces que se encuentra un elemento, enviado como parametro, en la tupla

In [1]:
tupla2 = ('Python', 'IA', 3.14159, 8, 7, 'IA')
tupla2

('Python', 'IA', 3.14159, 8, 7, 'IA')

In [2]:
print(tupla2.count('IA'))

2

### __index()__

Retorna el indice donde fue encontrado el elemento enviado como parametro

In [3]:
tupla1 = (1,2,3,4,5)
tupla1

(1, 2, 3, 4, 5)

In [4]:
print(tupla1.index(5))

4

Si hay elementos repetidos, index() mostrara el indice donde encuentre el primer elemento.

In [8]:
tupla2 = (1,2,3,5,3,7)
tupla2

(1, 2, 3, 5, 3, 7)

In [10]:
print(tupla2.index(3))

2

### __Otros Metodos__

Métodos como <span style="background:#BEBEBE" > <b> append() </b> </span> , <span style="background:#BEBEBE" > <b> insert() </b> </span> , <span style="background:#BEBEBE" > <b> remove() </b> </span> , <span style="background:#BEBEBE" > <b> pop() </b> </span> , <span style="background:#BEBEBE" > <b> reverse() </b> </span> no puede ser usados porque modifican la tupla.

# __Bucles con Tuplas__

Para recorrer una tupla se realiza de la misma forma que una lista. Podemos usar el ciclo __for__ como sigue:

In [33]:
tupla1 = ('a', 2.1, 'str')
tupla1

('a', 2.1, 'str')

In [34]:
ind = 1
for x in tupla1:
    print(f'El elemento {ind} de la tupla es {x}')
    ind += 1

El elemento 1 de la tupla es a
El elemento 2 de la tupla es 2.1
El elemento 3 de la tupla es str

El ciclo __while__ es muy similar a este ultimo ejemplo del ciclo for, en el sentido que se mueve por medio de indices, para esto se requiere declarar el indice fuera del ciclo y contar con el incremento dentro del ciclo. Esto con el fin de evitar ciclos infinitos.

In [35]:
tupla1 = ('a', 2.1, 66, True)
tupla1

('a', 2.1, 66, True)

In [38]:
i = 0

while i < len(tupla1):
    print(tupla1[i])
    i += 1

a
2.1
66
True